// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary: #51B883;
$secondary: #36495E;
$accent: #3B8070;
$error: #b71c1c;

.nuxt-component{
  background-color: #E4E6E8;
  height: 100vh;
}